body {
    background-color: #BFDCAE;
    margin: 0px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 90%;
    border-width: 5px;
    border-color: #206A5D;
}

h1{
    color: #284e21;
    margin-top: 0px;
}

h3{
    color: #284e21;
}

img{
    border-radius: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top-header{
    background-color: #7b996a;
    padding-bottom: 10px;
    padding-top: 20px;
}

.bru-img{
    padding-bottom: 20px;
    padding-top: 20px;
}