/* ######################################################### TAG #########################################################*/
body {
    background-color: #b1cea1;
    margin: 0px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 90%; 
    border-width: 5px;
    border-color: #414141;
}

h1{
    color: #1f3d1a;
    margin-top: 0px;
}

h3{
    color: #254b21;
    padding-left: 10px;
}

img{
    border-radius: 25px;
}

button:active{
    background-color: #284e21;
}

/* ######################################################### CLASS #########################################################*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top-header{
    background-color: #7b996a;
    padding-bottom: 10px;
    padding-top: 20px;
}

.bru-img{
    padding-bottom: 20px;
    padding-top: 20px;
}

.all-img{
    padding-top: 10px;
    padding-bottom: 30px;
}

.review-txt:hover{
    color: #dd9b21;
}

.txt-under{
    padding-left: 20px;
    padding-right: 20px;
}

.top-head {
    padding-top: 20px;
}

.bottom-header{
    background-color: #536b45;
    padding-bottom: 20px;
    padding-top: 2px;
    padding-left: 5px;
}

.contact-me{
    color:#b1cea1;
}
/* ######################################################### ID #########################################################*/